<!--<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors mode="On" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Custom" />
    </system.webServer>
</configuration>-->
<configuration>
  <!--<system.web>
    <customErrors mode="On"
              redirectMode="ResponseRewrite">
        <error statusCode="404"
           redirect="404.html"/>
      </customErrors>
      <globalization
        fileEncoding="utf-8"
        requestEncoding="utf-8"
        responseEncoding="utf-8"
        culture="en-US"
        uiCulture="de-DE"
      />
  </system.web>-->

  <system.webServer>
    <httpErrors errorMode="Custom"
            defaultResponseMode="File">
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <remove statusCode="504"/>
      <error statusCode="404"  path="404.html"/>
      <error statusCode="500"  path="500.html"/>
      <error statusCode="504"  path="504.html"/>
    </httpErrors>
  </system.webServer>
</configuration>